body {
    max-width: 400px;
    margin: 0 auto;
    background: aliceblue;
    width: 80vw;
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-weight: 200;
    font-size: 48pt;
}

button {
    display: inline-block;
    border: 0;
    background: 0;
    font-size: 32pt;
    outline: 0;
    color: #222;
}

button:active {
    color: #777;
}

span {
    font-size: 32pt;
    font-family: monospace;
}

.counter {
    text-align: center;
}
